
:root{
    --sky-blue-color:#0088FF;
}

*{
    margin: 0;
    padding: 0;
}
.btn button{
    font-size: 1.1rem;
    background-color: orange;
    border: none;
    color: white;
    padding: .6rem 2.9rem;
    border-radius: 12px;
    transition: all 0.3s ease-in ;
}
.btn button:hover{
    color: orange;
    background-color: white;
    border: 1px solid orange;
   
}
.heading{
    font-size: 3.1rem;
}

.paragraph{
    font-size: 1.2rem;
    color: rgba(0, 0, 0,0.5);
    font-weight: 600;
}



header{
    width: 80%;
    margin: 2rem auto 0 auto;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: .6rem;
    font-weight: 700;
    font-size: 1.3rem;
}

.logo img{
    height: 50px;
}

nav ul{

    display: flex;
    gap: 3.7rem;
   
}

nav ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 1.1rem;
   
}

#home{
    color: orange;
}

#about{
    color: var(--sky-blue-color);
}

#Facilities{
    color: #05D4DF;
}

#Admission{
    color: #5D58EF;
}
.menu-icon{
    display: none;
}

hr{
    margin-top: 1.3rem;
    border: none;
    height: 1px;
    background-color: orange;
    opacity: 0.7;
    display: none;
}


/* banner */


.banner-container{
    width: 80%;
    margin: 1.5rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-contain{
    width: 40%;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   
}

.banner-contain .btn button{
    background-color: black;
}

.banner-contain .btn button:hover{
    color: black;
    border: 1px solid black;
    background-color: white;
}

.banner-picture img{
    height:450px ;
   
}


#orange{
    color: orange;
}

#sky-blue{
    color: var(--sky-blue-color);
   
}




/* standard */

.standard{
    background-image: url(../assets/bg.png);
}

.standard-container{
    width: 80%;
    margin: auto;
    
}

.standard-contain{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
}
.standard-container h2{
    font-size: 2rem;
    text-align: center;
}

.card-sky {
   
    background: linear-gradient(to bottom, #DEF5FF 0%, #ffffff 100%);
    
   padding: 3rem;
    border-radius: 20px;
    text-align: center;
    
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    
    border: 1px solid #e0f2ff; 
   
}

.card-shy {
   
    background: linear-gradient(to bottom, #FFF4DC 0%, #ffffff 100%);
    
    padding: 3rem;
    border-radius: 20px;
    text-align: center;
    
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    
    border: 1px solid #e0f2ff; 
   
}


.card-she {
   
    background: linear-gradient(to bottom, #F2E8FF 0%, #ffffff 100%);
    
    padding: 3rem;
    border-radius: 20px;
    text-align: center;
    
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    
    border: 1px solid #e0f2ff; 
   
}




.card-contain{
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.card-contain h3{
    font-size: 1.3rem;
}

.card-contain p{
    font-size: 1rem;
    color: rgba(0, 0, 0,0.7);
}
.card-contain .sky{
    color: rgba(0, 136, 255,0.8);
}


.card-contain .shy{
    color: #F0AA00;
}

.card-contain .she{
    color: #8700FF;
}


.card img{
    height: 100px;
}


.arrow{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.2rem;
}


.arrow a{
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .8rem;
    font-size: 1.7rem;
    color: white;
}




/* ============================================= */
/* ============================================== */

@media screen and (max-width:576px) {
    header{
        width: 90%;
    }
    .logo h2,nav, header button{
        display: none;
    }

    .menu-icon{
        display: block;
        font-size: 1.5rem;
    }
    hr{
        display: block;
    }

    .banner-container{
    width: 90%;
    flex-direction: column-reverse;

}
.heading{
    font-size: 2.2rem;
}
.banner-contain{
    width: 95%;
   text-align: center;
   margin-top: 2rem;
}

.banner-picture{
   width: 90%;
   
}

.banner-picture img{
    height: 100%;
    width: 100%;
}
.standard-container{
    width: 90%;
    margin: 2.5rem auto 0 auto;
    
}
.standard-contain{
    
    grid-template-columns: repeat(1, 1fr);
   
}

}